.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.style { 
   
    margin: auto;
    display: block;
}

.cntr {
    margin: auto;
    display: block;
    background-color: #337AB7;
}

h2 {
    font-weight: 500;
}

.service {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .service {
       flex-direction: column;
     }
   }

