.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.style{
   
    margin: auto;
    display: block;
    
}

.cntr{
    margin: auto;
    display: block;
}