<div class="container">
  <div class="row product">
    <div class="col-8">
      <h2>Product Details</h2>
       <div *ngIf="product">
        <h3>{{product.name}}</h3>
        <h4>{{product.price | currency}}</h4>
        <p>{{product.description}}</p>
        <hr>

        <img [src]="product.imagePath" class="rounded mx-auto d-block" alt="{{product.name}}"
          style="max-height: 150px; margin-top: 10px; margin-bottom: 10px;">

        <button class="btn btn-primary style"(click)="addToCart(product)">Buy</button>
      </div>
    </div>
  </div>
  <div class="row service">
    <div class="col-xs-12 col-md-6" *ngFor="let service of plans; index as productId">
      <h2>Phone Service Details</h2>

      <div *ngIf="plans">
        <h3>{{ service.name }}</h3>
        <h4>{{ service.price | currency }}</h4>
        <p>{{ service.description }}</p>
        <hr>
        <button (click)="addToCart(service)" type="button" class="cntr" style="margin-bottom: 30px;">Add Plan</button>
      </div>

    </div>

  </div>
  
</div>