<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Edit Cart</h3>
            <p>
                <a routerLink="/cart">Back to Shopping Cart</a>
            </p>
            <div>
                <label for="getItem">
                    Get Item
                </label>
                <div *ngIf="selectedItem.description">{{ selectedItem.description }}</div>
                <input [(ngModel)]="getItem" type="number" placeholder="ID" class="form-control" />
            </div>
            <button class="btn btn-primary button" (click)="getPhone()" type="button">Get Item</button>

            <div>
                <label for="updateItem">
                    Update Item
                </label>
                <input [(ngModel)]="getItem" type="number" placeholder="ID" class="form-control" />
                <input [(ngModel)]="editModel.model" type="text" placeholder="Description" class="form-control" />
            </div>
            <button class="btn btn-primary button" (click)="update()" type="button">Update Cart</button>
            <div>
                <label for="deleteItem">
                    Delete Item
                </label>
                <input [(ngModel)]="getItem" type="number" placeholder="ID" class="form-control" />
            </div>
            <button class="btn btn-danger" (click)="deletePhone()" type="button">Delete Item</button>
        </div>
    </div>
</div>