<app-top-bar></app-top-bar>
<div class="container-fluid">
  <router-outlet></router-outlet>
  <div>
    <!-- <input [(ngModel)]="firstName" placeholder="First name" />
    <input [(ngModel)]="lastName" placeholder="Last name" />
    <input [(ngModel)]="email" placeholder="Email" />
    <input [(ngModel)]="password" placeholder="Password" />

    <button (click)="register()">Register</button>
    <hr> -->
    
   
    <input [(ngModel)]= "carId" type="number" />

  <button (click)="getCar()">Get Car</button>
    <hr>

    <input [(ngModel)]= "carModel.model" type="text" />
    
    
    <input [(ngModel)]= "carId" type="number" placeholder="ID"/>
  <button (click)="update()">Update</button>
  <!-- <div>
    <button (click)="getUserCars()">Get cars for current user</button>
  </div> -->
  </div>
</div>