/* Global Styles */

fa-icon {
  color: skyblue;
  margin-left: 20px;
 }

  * {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
  
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  
  body { 
      background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
      background-blend-mode: normal,color-burn;
      color: #616161;
      padding-top: 70px;
      margin: 0;

  }
  
  
  router-outlet + *  {
    padding: 0 16px;
  }
  
  /* Text */
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    color: #48c6ef;
    font-size: 26px;
    margin-bottom: 20px;
  }
  
  h1, h2 {
    font-weight: lighter;
  }
  
  p {
    font-size: 14px;
  }
  
  /* Hyperlink */
  
  a {
    color: #1976d2;
    cursor: pointer;
  }
  
  a:hover {
    opacity: 0.8;
  }
  
  /* Input */
  
  input {
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    font-size: 14px;
    margin-bottom: 16px;
    padding: 8px;
  }
  
  label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    text-transform: uppercase;
  }
  
  /* Button */
  
  .button, button {
    align-items: center;
    background-color: #1976d2;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    
    font-size: 14px;
    padding: 8px 16px;
  }
  
  .button:hover, button:hover {
    font-weight: normal;
    opacity: 0.8;
  }
  
  .button:disabled, button:disabled {
    cursor: auto;
    opacity: 0.5;
  }
  
  /* Checkout Cart, Shipping Prices */
  
  .cart-item, .shipping-item {
    width: 100%;
    min-width: 300px;
    max-width: 450px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
   
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
  }
  .col-lg-4{
    height: 360px;
  }
  