<!--navbar -->
<nav id="nav">

  <a [routerLink]="['/']">
    <h1>My Online Store</h1>
  </a>

  <a routerLink="/cart" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a>

  <div class="icons-container">
    <a routerLink="/register">
      <fa-icon [icon]="userIcon" size="3x"></fa-icon>
    </a>
    <a routerLink="/logIn">
      <fa-icon [icon]="signIn" size="3x"></fa-icon>
    </a>

    <fa-icon [icon]="faPaypal" size="2x"></fa-icon>
    <fa-icon [icon]="faGooglePay" size="3x"></fa-icon>
    <fa-icon [icon]="faApplePay" size="3x"></fa-icon>
  </div>


</nav>